
<div class='container'>
	<div class='row'>
		<div class='col-md-7'>
			<%= image_tag @portafolio.main_image %>
		</div>

		<div class='col-md-5'>
			<h1><%= @portafolio.title %></h1>
			<hr>

			<strong><%=@portafolio.subtitle %></strong>

			<p><%=@portafolio.body %></p>
			<hr>
			<%= @portafolio.image.url(:medium) %>

<h2>Skills Used</h2>

<% @portafolio.constructions.each do |c|%>
<p><%= c.name %></p>
		<% end %>
	</div>
		<%= link_to "View all Portfolios", portafolios_path %>
</div>

