
<h1><%= @portafolio.title %></h1>
<strong><%=@portafolio.subtitle %></strong>
<p><%=@portafolio.body %></p>
<%= image_tag @portafolio.main_image %>


<h2>Skills Used</h2>

<% @portafolio.constructions.each do |c|%>
<p><%= c.name %></p>
<% end %>